/IDLExternalLinking/* @limaam @livingc1 @wilmotkx @kayttaax
/InsuranceHeader_xLink/* @limaam @livingc1 @wilmotkx @kayttaax
/BIPV2/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_Best/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_Build/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_Company_Names/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_Segmentation/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_Suppression/* @BentleLA @kayttaax @presserl @wilmotkx
/BIPV2_xlink_segmentation/* @wilmotkx @SkaggsDX @SuffZa01 @kayttaax
/BizLinkFull/* @wilmotkx @SkaggsDX @SuffZa01 @kayttaax

# [ut] is shared between all teams/departments
/ut/* @kayttaax @LogemaKX @MyullyVA @CampDa01

# ---- Public records ----
/Doxie/* @MyullyVA @SantosRD @GummadKK
/ConsumerDisclosure/* @SantosRD @ChekMa01

# Royalty codes
/Royalty/Master.ecl @DahaRa01 @SantosRD @GummadKK
/Royalty/Constants.ecl @DahaRa01 @SantosRD @GummadKK

CODEOWNERS @GummadKK @BuckTW @MyullyVA
